body {
    margin-top: 0;
}
#headerOfContactUs{
    position: relative;
    margin-top: 0;
    height: 121px;
    background-image: url("images/headePhoto.jpg");
    background-attachment: fixed;
    margin-bottom: 50px;
}

#FlexBox {
    margin-top: 0;
    display: flex;
    position: fixed;
    height: 70px;
    top: 0;
    left: 8px;
    right: 8px;
}

#item1 {
    flex: 1;
    padding: 10px;
}

#item1 p {
    margin: 0;
    padding: 0;
    color: #96877B;
    font-size: 30px;
}

#item1 {
    padding: 0;
    margin-bottom: 0;
}

#item2 {
    flex: 2;
}

#item3 {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    padding-top: 10px;
    padding-right: 10px;
    margin-right: 5px;
    height: 30px;
    width: 60%;
}

.link1, .link2, .link4, .link5, .link6, .link7 {
    text-decoration: none;
    font-size: 15px;
    outline: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 7px;
    margin-right: 1px;
    text-align: center;
    background-color: #E9593E;
    color: #FBF0DC;
    border-style: none;
    width: 20%;
}
.link1{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.link7{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#shkronjaT {
    font-size: 37px;
}
label{
    color: #947D6A;
}
